   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Strata Dashboard
                    </a>
                </li>
                <li>
                    <a href="#">Buildings</a>
                </li>
                <li>
                    <a href="#">Financials</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="container-fluid">
          <div class="row top-bar">
            <p>&lt;/&gt; Coding Challenge</p>
          </div>
        </div>

        <div>
          <div class="row">
              <div class="col-lg-12 backgroundImage">
                  <img [src]="selectedImage" class="img-fluid">
              </div>
          </div>

          <div class="row vertical-center force-to-bottom">
            <div class="col-lg-12">
                <app-building (selectedImage)="onSelectedImage($event)"></app-building>
              </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>